.DS_Store
.idea/
__pycache__/

dumpster.py
data/svm.fasta
data/svm_sequences.csv
*.pyc
/utilities/clustering.py
/data/model.npz
data/rep-seqs-dada2.qza
/local_data/
/local_scripts/
/phylotypy.egg-info/
